force-app/main/default/flows/AgentForce_GetIntrestedProductDesription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>FetchProductDescription</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>FetchProductDescription</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(
Name: {!GetProductDetail.ssot__Name__c}
Description:{!GetProductDetail.ssot__Description__c}
Price: {!Get_Price.ssot__UnitListPriceAmount__c}
)
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AgentForce-GetIntrestedProductDesription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AgentForce-GetIntrestedProductDesription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchProductDescription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProductDetail.ssot__Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__PricebookId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s7y00000I6eQEAAZ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__PriceBookEntry__dlm</object>
        <queriedFields>ssot__Id__c</queriedFields>
        <queriedFields>ssot__ProductId__c</queriedFields>
        <queriedFields>ssot__UnitListPriceAmount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductDetail</name>
        <label>GetProductDetail</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t7y00000EkLW3AAN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <queriedFields>ssot__Id__c</queriedFields>
        <queriedFields>ssot__Name__c</queriedFields>
        <queriedFields>ssot__Description__c</queriedFields>
        <sortField>ssot__Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProductDetail</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
</Flow>
