force-app/main/default/flows/Agentforce_GetSurveyResponseRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Return_Question_Response_set</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Return Question Response set</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(
Question: {!GetSurveyResponseDetails.Question__c}
Response: {!GetSurveyResponseDetails.Response__c}
SessionId :{!GetSurveyResponseDetails.MessagingSessionId__c}
)
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSurveyResponseDetails</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Agentforce-GetSurveyResponse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agentforce-GetSurveyResponseRecord</label>
    <loops>
        <name>GetSurveyResponseDetails</name>
        <label>GetSurveyResponseDetails</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>GetSurveyResponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Return_Question_Response_set</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>GetSurveyResponses</name>
        <label>GetSurveyResponses</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSurveyResponseDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingSessionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingSessionRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>6.0</numberValue>
        </limit>
        <object>SurveyResponse__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Response__c</queriedFields>
        <queriedFields>CookieId__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSurveyResponses</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MessagingSessionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>SessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
