force-app/main/default/flows/Authenticate_Agentforce_Service_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_AuthSessionId</name>
        <label>Get AuthSessionId</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>AgentAuthenticator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Messaging_Session_Details</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>AgentAuthenticator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Messaging_Session_Details</name>
        <label>Set Messaging Session Details</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>messagingSession.AuthSessionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AuthSessionId.authSessionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingEndUser.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Messaging_Session_and_Authentication</name>
        <label>Check Messaging Session and Authentication</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>screen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Authenticated_and_Messaging_Session_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messagingSession.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AuthSessionId</targetReference>
            </connector>
            <label>Authenticated and Messaging Session Exists</label>
        </rules>
        <rules>
            <name>Authentication_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen2</targetReference>
            </connector>
            <label>Authentication Required</label>
        </rules>
    </decisions>
    <description>This flow is used to link the Agentforce Service Agent Messaging Session with the current Authentication Session.</description>
    <environments>Default</environments>
    <formulas>
        <name>calcBefore10Minutes</name>
        <dataType>DateTime</dataType>
        <expression>{!messagingSession.AuthRequestTime__c} - (10/1440)</expression>
    </formulas>
    <interviewLabel>Authenticate Agentforce Service Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Authenticate Agentforce Service Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Messaging_Session_and_Authentication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SessionKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionKey</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>AuthRequestTime__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>AuthRequestTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>calcBefore10Minutes</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputReference>messagingSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AuthRequestTime__c</queriedFields>
        <queriedFields>MessagingEndUserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSession.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <outputReference>messagingEndUser</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Messaging_User</targetReference>
        </connector>
        <inputReference>messagingSession</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_User</name>
        <label>Update Messaging User</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Show_Messaging_Session_Details</targetReference>
        </connector>
        <inputReference>messagingEndUser</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen2</name>
        <label>Authentication Required</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg2_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(68, 68, 68);&quot;&gt;You are currently not authenticated. Click here to login&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen3</name>
        <label>Session Key is Invalid</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg3_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Invalid Session Key.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;SessionKey is &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!sessionKey}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Messaging_Session_Details</name>
        <label>Show Messaging Session Details</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;You have successfully authenticated your  Agentforce Service Agent!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Please close this tab and return to your Agent.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Confirm your authentication with &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Done&lt;/strong&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;&quot;!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SessionKey is &lt;strong&gt;{!sessionKey}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;ContactId is &lt;strong&gt;{!messagingEndUser.ContactId}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>messagingEndUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>messagingSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <description>This is the sessionKey parameter used to link the Messaging Session with the current Authentication Session</description>
        <name>sessionKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
