force-app/main/default/flows/Call_RT_DG_for_CURRENT_product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallDataGraphfromAPEX</name>
        <label>CallDataGraphfromAPEX</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <actionName>DSPGetRTDGData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Data_Graph_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>graphName</name>
            <value>
                <elementReference>DGName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>DGRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DSPGetRTDGData</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_JSON_and_get_ProductID</name>
        <label>Parse JSON and get ProductID</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>parseJSON</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Product_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>DGOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>parseJSON</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Product_ID</name>
        <label>Assign Product ID</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>productID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parse_JSON_and_get_ProductID.productId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Find_Based_on_Product_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_Graph_Output</name>
        <label>Data Graph Output</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DGOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallDataGraphfromAPEX.responseData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_JSON_and_get_ProductID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_reply</name>
        <label>Output reply</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>outputReply</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_reply_When_Product_Not_Found</name>
        <label>Output reply When Product Not Found</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>outputReply</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We noticed you are not interested any of the product</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Product_Find_Based_on_Product_Id</name>
        <label>Product Find Based on Product Id</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_reply_When_Product_Not_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Call RT DG for CURRENT product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call RT DG for CURRENT product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Details</name>
        <label>Get Product Details</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Output_reply</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productID</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>productName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CallDataGraphfromAPEX</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>detailedDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DGName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DGOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DGRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The answer to confirm the product name</description>
        <name>outputReply</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>setMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
