force-app/main/default/flows/Check_Product_Availability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Response_Message</name>
        <label>Response Message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutOfStockMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>HomesteadDomey3Tent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Homestead Domey 3 Tent</stringValue>
        </value>
    </constants>
    <constants>
        <name>OutOfStockMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, this is the product is currently out of stock, would you like to be notified when this is available ?</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Stock_Availability</name>
        <label>Check Stock Availability</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OutOfStock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductItem.QuantityOnHand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_Message</targetReference>
            </connector>
            <label>OutOfStock</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check_Product_Availability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check_Product_Availability</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProductId</name>
        <label>GetProductId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HomesteadDomey3Tent</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__ProductType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Base</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductItem</name>
        <label>GetProductItem</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Stock_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProductId.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProductId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
