force-app/main/default/flows/Fetch_Order_Details_for_Returning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Membership_Details</name>
        <label>Membership Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>membershipNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership.ssot__IdentificationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_For_Return</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Order</name>
        <label>No Order</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NoOpenOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>There are No Open Order Available for this account</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Order</name>
        <label>Return Order</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ReturnOrderDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ReturnOrderData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Order</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Activated</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Activated</stringValue>
        </value>
    </constants>
    <constants>
        <name>Draft</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <decisions>
        <name>No_Open_Order</name>
        <label>No Open Order?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Open_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_For_Return</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_Order</targetReference>
            </connector>
            <label>If Open Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Past7days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <formulas>
        <name>ReturnOrderData</name>
        <dataType>String</dataType>
        <expression>{!For_each_Order.ssot__OrderNumber__c} &amp; &quot; - &quot; &amp;
{!For_each_Order.ssot__SalesOrderStatusId__c}&amp; &quot; - &quot; &amp;
TEXT({!For_each_Order.ssot__OrderStartDate__c})&amp; &quot;-&quot;&amp;
{!Get_Product_Name.ssot__Name__c}</expression>
    </formulas>
    <interviewLabel>Fetch Order Details for Returning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Order Details for Returning</label>
    <loops>
        <name>For_each_Order</name>
        <label>For each Order</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Order_For_Return</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order_Product</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Membership</name>
        <label>Get Membership</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__PartyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__PartyIdentification__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_For_Return</name>
        <label>Get Order For  Return</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Open_Order</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND ( 3 OR 4))</filterLogic>
        <filters>
            <field>ssot__SalesOrderStatusId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activated</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__SalesOrderStatusId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Delivered</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__SoldToCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__SoldToCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>membershipNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ssot__SalesOrder__dlm</object>
        <sortField>ssot__OrderStartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__SalesOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Order.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__SalesOrderProduct__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Name</name>
        <label>Get Product Name</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Product.ssot__ProductId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Delivered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Delivered</stringValue>
        </value>
    </variables>
    <variables>
        <name>membershipNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoOpenOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReturnOrderDetails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
