force-app/main/default/flows/Fetch_Recent_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Membership_Number_Details</name>
        <label>Membership Number Details</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Membership_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Membership_Number.ssot__IdentificationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Order_Message</name>
        <label>Open Order Message</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OpenOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpenOrderDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Order_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Past_30_days_Message</name>
        <label>Past 30 days Message</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PastOrderOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PastOrderFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Past_30days</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Activated</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Activated</stringValue>
        </value>
    </constants>
    <constants>
        <name>Delivered</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Delivered</stringValue>
        </value>
    </constants>
    <constants>
        <name>DraftConst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <constants>
        <name>Open</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Open_Order_Found</name>
        <label>Open Order Found</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_past_30_days_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Open_Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Order_Details</targetReference>
            </connector>
            <label>Outcome 1 of Open Order Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateFor30days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <formulas>
        <name>IsDraft</name>
        <dataType>Boolean</dataType>
        <expression>{!Open_Order_Details.ssot__SalesOrderStatusId__c} = &quot;Draft&quot;</expression>
    </formulas>
    <formulas>
        <name>OpenOrderDetail</name>
        <dataType>String</dataType>
        <expression>&quot; Order #&quot;&amp;{!Open_Order_Details.ssot__OrderNumber__c} &amp;&quot;-:&quot;&amp;{!Open_Order_Details.ssot__SalesOrderStatusId__c}&amp;&quot;-&quot;&amp;TEXT({!Open_Order_Details.ssot__OrderStartDate__c})&amp;&quot;-&quot;&amp;{!Get_Product_Name_For_Draft.ssot__Name__c}</expression>
    </formulas>
    <formulas>
        <name>PastOrderFormula</name>
        <dataType>String</dataType>
        <expression>{!Loop_Past_30days.ssot__OrderNumber__c} &amp; &quot; - &quot; &amp;
{!Loop_Past_30days.ssot__SalesOrderStatusId__c}&amp; &quot; - &quot; &amp;
TEXT({!Loop_Past_30days.ssot__OrderStartDate__c})&amp; &quot;-&quot;&amp;
{!Get_Product_Name.ssot__Name__c}</expression>
    </formulas>
    <interviewLabel>Fetch Recent Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Recent Order</label>
    <loops>
        <name>Loop_Past_30days</name>
        <label>Loop Past 30days</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_past_30_days_order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Ordered_Product_Details</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Open_Order_Details</name>
        <label>Open Order Details</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Ordered_Product_Details_For_Open</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Membership_Number</name>
        <label>Get Membership Number</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Number_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__PartyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__PartyIdentification__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Order_Found</targetReference>
        </connector>
        <filterLogic>(1 AND ( 2 OR 3))</filterLogic>
        <filters>
            <field>ssot__SalesOrderStatusId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Open</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__SoldToCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__SoldToCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Membership_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ssot__SalesOrder__dlm</object>
        <sortField>ssot__OrderStartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ordered_Product_Details</name>
        <label>Get Ordered Product Details</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__SalesOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Past_30days.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__SalesOrderProduct__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ordered_Product_Details_For_Open</name>
        <label>Get Ordered Product Details For Open</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Name_For_Draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__SalesOrderId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Open_Order_Details.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__SalesOrderProduct__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_past_30_days_order</name>
        <label>Get past 30 days order</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Past_30days</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND ( 3 OR 4) AND 5)</filterLogic>
        <filters>
            <field>ssot__SalesOrderStatusId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activated</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__SalesOrderStatusId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Delivered</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__SoldToCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__SoldToCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Membership_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__OrderStartDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>DateFor30days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ssot__SalesOrder__dlm</object>
        <sortField>ssot__OrderStartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Name</name>
        <label>Get Product Name</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Past_30_days_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ordered_Product_Details.ssot__ProductId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Name_For_Draft</name>
        <label>Get Product Name For Draft</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Order_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ordered_Product_Details_For_Open.ssot__ProductId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Check_Draft_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ssot__SalesOrder__dlm</objectType>
    </variables>
    <variables>
        <name>isDraftPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Membership_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pastOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PastOrderOutput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
