force-app/main/default/flows/Get_Customer_Details_by_Messaging_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set status and authentication URL as output</description>
        <name>Set_Authentication_Status</name>
        <label>Set Authentication Status</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authentication Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authenticationURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textURL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Status</name>
        <label>Set Error Status</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Messaging Session is not found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>This is the url prefix of the coral-cloud experience site</description>
        <name>SITE_URL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://epicorgfarm-a4--retailorg2.sandbox.my.site.com/outfitters</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Messaging_Session</name>
        <label>Check Messaging Session</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_AuthRequestTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AuthSessionId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_Session.AuthSessionId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>AuthSessionId Exists</label>
        </rules>
    </decisions>
    <description>Validate a Customers details by passing the record id of the current agent context variable Messaging Session ID to see if their is a related contact.</description>
    <environments>Default</environments>
    <interviewLabel>Get Customer Details by Messaging Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Customer Details by Messaging Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Session.EndUserContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Membership_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Messaging_Session</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Status</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SiteURL_From_Metadata</name>
        <label>Get SiteURL From Metadata</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Authentication_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SiteURL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyFlyoutConfig__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_AuthRequestTime</name>
        <label>Set AuthRequestTime</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_SiteURL_From_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSessionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AuthRequestTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textURL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_SiteURL_From_Metadata.SiteURL__c}/agentauthenticator?sessionKey={!Get_Messaging_Session.SessionKey}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>This is the website URL to authenticate the user. Use this URL to open the authentication page.</description>
        <name>authenticationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The contact that was returned in the search for records.</description>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Salesforce record identifier for the standard object MessagingSession. This identifier is used to identify the current messaging session from the agent.</description>
        <name>messagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the status of the action. If the status equals &quot;Authentication Required&quot; the authenticationURL parameter contains the website to let the user authenticate successfully. If the status equals &quot;Success&quot; the action is successful and contactRecord contains the Contact details.
In all other status cases the action is unsuccessful.</description>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
