force-app/main/default/flows/Get_Comparison_Product_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DisplayComparisonFlyout</name>
        <label>DisplayComparisonFlyout</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <actionName>DisplayShoeComparison</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Platform_Event_Published</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProductId</name>
            <value>
                <elementReference>RealTime.outputReply</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DisplayShoeComparison</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>prompt</assignToReference>
            <name>Prompt</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ComparisonProductDetails</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>ComparisonProductDetails</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>previously purchased product{
Name:{!Get_Product_Name.ssot__Name__c},
Durability:{!Get_Product_Attribute.Durability__c},
Size:{!Get_Product_Attribute.Size__c},
Ventilation:{!Get_Product_Attribute.Ventilation__c},
Weight:{!Get_Product_Attribute.Weight__c}
Star:{!Get_Product_Attribute.Stars__c}
}
currently-viewed Product{
Name: {!Get_Real_Time_Product_Name.ssot__Name__c},
Durability:{!Get_Real_time_Product_Id.Durability__c},
Size:{!Get_Real_time_Product_Id.Size__c},
Star:{!Get_Real_time_Product_Id.Stars__c},
Ventilation:{!Get_Real_time_Product_Id.Ventilation__c},
Weight:{!Get_Real_time_Product_Id.Weight__c}
}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Platform_Event_Published</name>
        <label>Platform Event Published?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prompt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Details</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Product_Details_Not_Null</name>
        <label>Verify Product Details Not Null</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Attribute</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Real_Time_Product_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Real_time_Product_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComparisonProductDetails</targetReference>
            </connector>
            <label>Is Product Found</label>
        </rules>
    </decisions>
    <description>This flow compares the product from real-time and the product from past purchase history</description>
    <environments>Default</environments>
    <interviewLabel>Get Comparison Product Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Comparison Product Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ordered_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bill_To_Contact_Id__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ordered_Item</name>
        <label>Get Ordered Item</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Attribute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Attribute</name>
        <label>Get Product Attribute</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Name</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ssot__ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ordered_Item.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__VariantParentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ordered_Item.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__ProductAttribute__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Name</name>
        <label>Get Product Name</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Real_time_Product_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Attribute.ssot__ProductId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Real_time_Product_Id</name>
        <label>Get Real-time Product Id</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Real_Time_Product_Name</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ssot__ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RealTime.outputReply</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__VariantParentId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RealTime.outputReply</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__ProductAttribute__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Real_Time_Product_Name</name>
        <label>Get Real-Time Product Name</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Product_Details_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Real_time_Product_Id.ssot__ProductId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RealTime</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>RealTime</name>
        <label>RealTime</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>DisplayComparisonFlyout</targetReference>
        </connector>
        <flowName>Call_RT_DG_for_CURRENT_product</flowName>
        <inputAssignments>
            <name>DGName</name>
            <value>
                <stringValue>Web_Engagement_RT_Profile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DGRecordId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputType</name>
            <value>
                <stringValue>Compare</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PromptResponse</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
