force-app/main/default/flows/MexicoBasedPRoductRecommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Weather</name>
        <label>Check Weather</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetWeather</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>WeatherBasedProduct</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>GetWeather</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>dayCondition</assignToReference>
            <name>dayCondition</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>maxTemperature</assignToReference>
            <name>maxTemperature</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>minTemperature</assignToReference>
            <name>minTemperature</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>temperatureDescription</assignToReference>
            <name>temperatureDescription</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>WeatherBasedProduct</name>
        <label>WeatherBasedProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>WeatherBasedProductInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>weatherData</name>
            <value>
                <elementReference>dayCondition</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WeatherBasedProductInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>FinalResponse1</name>
        <label>FinalResponse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProductRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleProdResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Product_DMO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductResponse</name>
        <label>ProductResponse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProdRes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalResponse1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResponseMessage</name>
        <label>ResponseMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WeatherProductResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_Product_Id</name>
        <label>Store Product Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProductId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>MexicoBasedPRoductRecommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MexicoBasedProductRecommendation</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>WeatherBasedProduct.Prompt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Product_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_DMO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Product_DMO</name>
        <label>Loop Product DMO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Product_DMO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProductResponse</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ResponseMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_DMO</name>
        <label>Get Product DMO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Product_DMO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Weather</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ProdRes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&apos;/outfitters/product/{!Loop_Product_DMO.ssot__Id__c}&apos;&gt; {!Loop_Product_DMO.ssot__Name__c}&lt;/a&gt; - {!Loop_Product_DMO.ssot__Description__c}</text>
    </textTemplates>
    <textTemplates>
        <name>WeatherProductResponse</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!temperatureDescription}
{!ProductName}</text>
    </textTemplates>
    <variables>
        <name>dayCondition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxTemperature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>minTemperature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleProdResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>temperatureDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>weatherCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
