force-app/main/default/flows/Personalized_Product_Recommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Personalization_Decisions_Action</name>
        <label>Get Personalization Decisions Action</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>getPersonalizationDecisions</actionName>
        <actionType>getPersonalizationDecisions</actionType>
        <connector>
            <targetReference>Loop1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PersnlDecisionInputRepresentation</name>
            <value>
                <elementReference>persnlDecInpRep</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invocationType</name>
            <value>
                <stringValue>FLOW</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getPersonalizationDecisions</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>persnlDecOutRep</assignToReference>
            <name>PersnlDecisionOutputRepresentation</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign Ids</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>personalizedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop2.additionalProperties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Current_Record</name>
        <label>Get Current Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIdAcc.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Unified_Individual_for_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Personalization_Point_and_Individual_ID_Assignment</name>
        <label>Personalization Point and Individual ID Assignment</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>pesrnlPointVariable.persnlPointName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PersnlPoint_ApiName_Action_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>persnlDecInpRep.personalizationPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pesrnlPointVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>persnlDecInpRep.context.individualId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Unified_Individual_for_Contact_Record.ssot__Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Personalization_Decisions_Action</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Personalized Product Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personalized Product Recommendation</label>
    <loops>
        <name>Loop1</name>
        <label>Loop1</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>persnlDecOutRep.personalizations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2</name>
        <label>Loop2</label>
        <locationX>352</locationX>
        <locationY>782</locationY>
        <collectionReference>Loop1.persnlRecommendations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Unified_Individual_for_Contact_Record</name>
        <label>Get Unified Individual for Contact Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unified_Link_Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__FirstName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIdAcc.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__LastName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIdAcc.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnifiedssotIndividualReal__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unified_Link_Individual</name>
        <label>Get Unified Link Individual</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Personalization_Point_and_Individual_ID_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UnifiedRecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unified_Individual_for_Contact_Record.ssot__Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnifiedLinkssotIndividualReal__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>recommendations</name>
            <extensionName>c:personalizedRecommendations</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productIds</name>
                <value>
                    <elementReference>personalizedIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordIdAcc.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>persnlDecInpRep</name>
        <apexClass>ConnectApi__PersnlDecisionInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>persnlDecOutRep</name>
        <apexClass>ConnectApi__PersnlDecisionOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersnlPoint_ApiName_Action_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Get_Product_Point</stringValue>
        </value>
    </variables>
    <variables>
        <name>personalizedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pesrnlPointVariable</name>
        <apexClass>ConnectApi__PersnlPointInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
