force-app/main/default/flows/Product_Discount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>OutputMessage</name>
        <label>OutputMessage</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ResponseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfferMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>produName</name>
        <label>produName</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Id.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ProductName</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TestConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Marathon Season Offer</stringValue>
        </value>
    </constants>
    <description>This flow is used for checking if the product selected has a discount</description>
    <environments>Default</environments>
    <formulas>
        <name>OfferMessage</name>
        <dataType>String</dataType>
        <expression>{!Get_Promotion.ssot__Name__c}&amp;&quot;-&quot;&amp;{!Get_Promotion.ssot__Description__c}</expression>
    </formulas>
    <interviewLabel>Promotion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Product Discount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Id</name>
        <label>Get Product Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>produName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Real_Time_Product_Id.outputReply</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProductName</name>
        <label>Get ProductName</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Promotion_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Base</stringValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion</name>
        <label>Get Promotion</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OutputMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Promotion_Product.ssot__PromotionId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__PromotionOffer__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_Product</name>
        <label>Get Promotion Product</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Promotion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ProductName.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__PromotionProduct__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Real_Time_Product_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Real_Time_Product_Id</name>
        <label>Get Real-Time Product Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Product_Id</targetReference>
        </connector>
        <flowName>Call_RT_DG_for_CURRENT_product</flowName>
        <inputAssignments>
            <name>DGName</name>
            <value>
                <stringValue>Web_Engagement_RT_Profile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DGRecordId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputType</name>
            <value>
                <stringValue>Compare</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
