force-app/main/default/flows/Size_Recommended_From_Return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>MembershipValue</name>
        <label>MembershipValue</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>memberNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Number.ssot__IdentificationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output</name>
        <label>Output</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>outputResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Product_Name</name>
        <label>ProductName</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.ssot__Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Is_Return_Product_Empty</name>
        <label>Copy 1 of Is Return Product Empty?</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_Return_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Return_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output</targetReference>
            </connector>
            <label>Copy 1 of Check Return Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Description_and_SKU_Empty</name>
        <label>Is Description and SKU Empty?</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Name.ssot__Description__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Name.ssot__ProductSKU__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Return_Product</targetReference>
            </connector>
            <label>Check For Null?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ResponseMessage</name>
        <dataType>String</dataType>
        <expression> &quot;I see you purchased size 6  previously and returned it stating Size is too Small .I would recommend size 7 for this product. &quot;</expression>
    </formulas>
    <interviewLabel>Size Recommended From Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Size Recommended From Return</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Membership_Number</name>
        <label>Get Membership Number</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MembershipValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__PartyIdentification__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Real_Time_Product_Id.outputReply</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Name</name>
        <label>Get Product Name</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Description_and_SKU_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ssot__ProductType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Base</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__Product__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Real_Time_Product_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ssot__CustomerAccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>memberNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Return_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__ReturnOrder__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Product</name>
        <label>Get Return Product</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_Return_Product_Empty</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3)</filterLogic>
        <filters>
            <field>ssot__Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Size 6 is too small</stringValue>
            </value>
        </filters>
        <filters>
            <field>ssot__Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Returning because size 6 fits too tight</stringValue>
            </value>
        </filters>
        <filters>
            <field>ssot__Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Size 6 too small</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ssot__ReturnOrderProduct__dlm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Real_Time_Product_Id</name>
        <label>Get Real-Time Product Id</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <flowName>Call_RT_DG_for_CURRENT_product</flowName>
        <inputAssignments>
            <name>DGName</name>
            <value>
                <stringValue>Web_Engagement_RT_Profile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DGRecordId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputType</name>
            <value>
                <stringValue>Compare</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembershipNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
