force-app/main/default/flows/TE_Draw_me_a_Viz.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_a_viz</name> 
        <label>Create Visualization Payload</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>TE_CreateVisualization</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>CreateTableauVisualization</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:user_query</name>
            <value>
                <elementReference>user_query</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:sdm_metadata</name>
            <value>
                <elementReference>sdm_metadata</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TE_CreateVisualization</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CreateTableauVisualization</name>
        <label>Create Tableau Visualization</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>TE_CreateVisualization</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Viz_ApI_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsPayload</name>
            <value>
                <elementReference>Create_a_viz.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>semanticMetadata</name>
            <value>
                <elementReference>sdm_metadata_raw</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workspaceApiName</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TE_CreateVisualization</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Fetch_and_Process_Semantic_Model_Action_1</name>
        <label>Fetch and Process Semantic Model Action 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>TE_GetSemanticModel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Semantic_Model_Metadata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentationComponents</name>
            <value>
                <stringValue>semanticCalculatedDimensions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsComponents</name>
            <value>
                <stringValue>semanticCalculatedMeasurements,semanticCalculatedDimensions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>modelApiName</name>
            <value>
                <elementReference>modelApiName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TE_GetSemanticModel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_Semantic_Model_API_Name</name>
        <label>Store Semantic Model API Name</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>modelApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semantic_Model_to_Target.Semantic_Model_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_and_Process_Semantic_Model_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Semantic_Model_Metadata</name>
        <label>Store Semantic Model Metadata</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sdm_metadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_and_Process_Semantic_Model_Action_1.processedJson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sdm_metadata_raw</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_and_Process_Semantic_Model_Action_1.rawJson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_viz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Viz_ApI_Name</name>
        <label>Store Viz ApI Name</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Visualization_api_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateTableauVisualization.jsonOutput</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Create a new viz in Agent&apos;s workspace</description>
    <environments>Default</environments>
    <interviewLabel>TE_Draw_me_a_Viz {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TE_Draw_me_a_Viz</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Semantic_Model_to_Target</name>
        <label>Get Semantic Model to Target</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Semantic_Model_API_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semantic_Model_API_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>&apos;&apos;</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tableau_Semantic_Model__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Semantic_Model_to_Target</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>modelApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdm_metadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdm_metadata_raw</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user_query</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Visualization_api_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
