force-app/main/default/flows/TE_Execute_and_Format_Semantic_Query.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Query</name>
        <label>Execute Query</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>TE_ExecuteSemanticQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Query_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>semanticContainerPayload</name>
            <value>
                <elementReference>sdm_metadata_full</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>structuredSemanticQueryPayload</name>
            <value>
                <elementReference>structuredSemanticQueryPayload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TE_ExecuteSemanticQuery</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_result</name>
        <label>Format result</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <actionName>TE_FormatSemanticQueryResult_light</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Store_formatted_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:processed_result</name>
            <value>
                <elementReference>Process_Query_Result_for_Prompt.processeResult</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TE_FormatSemanticQueryResult_light</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Semantic_Structured_Query_payload</name>
        <label>Generate Semantic Structured Query payload</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>TE_SemanticQueryGenerator</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assign_structuredSemanticQueryPayload</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:sdm_metadata</name>
            <value>
                <elementReference>Get_Semantic_Model.processedJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:user_query</name>
            <value>
                <elementReference>user_query</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TE_SemanticQueryGenerator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Semantic_Model</name>
        <label>Get Semantic Model</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>TE_GetSemanticModel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Semantic_Model_Metadata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentationComponents</name>
            <value>
                <stringValue>semanticDataObjects,semanticDimensions,semanticMeasurements,semanticCalculatedMeasurements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsComponents</name>
            <value>
                <stringValue>semanticDataObjects,semanticDimensions,semanticMeasurements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>modelApiName</name>
            <value>
                <elementReference>modelApiName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TE_GetSemanticModel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Process_Query_Result_for_Prompt</name>
        <label>Process Query Result for Prompt</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <actionName>TE_ProcessSemanticQueryResult</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queryResult</name>
            <value>
                <elementReference>query_result</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sdmMetadata</name>
            <value>
                <elementReference>sdm_metadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userQuery</name>
            <value>
                <elementReference>user_query</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TE_ProcessSemanticQueryResult</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_query_result</name>
        <label>Assign query result</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>query_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Query.formattedResults</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Query_Result_for_Prompt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_structuredSemanticQueryPayload</name>
        <label>Assign structuredSemanticQueryPayload</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>structuredSemanticQueryPayload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Semantic_Structured_Query_payload.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_Error_to_Agent</name>
        <label>Send Error to Agent</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>formatted_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;ERROR&quot;:&quot;We could not process the query.&quot;}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Send_Result_to_Agent</name>
        <label>Send Result to Agent</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>formatted_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;WARNING&quot;:&quot;The query returned 0 rows of data.&quot;}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_formatted_Result</name>
        <label>Store formatted Result</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>formatted_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_result.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_Query_Result</name>
        <label>Store Query Result</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>query_result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Query.formattedResults</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Query_Successful</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Semantic_Model_API_Name</name>
        <label>Store Semantic Model API Name</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>modelApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semantic_Model_to_target.Semantic_Model_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Semantic_Model</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Semantic_Model_Metadata</name>
        <label>Store Semantic Model Metadata</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sdm_metadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semantic_Model.processedJson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sdm_metadata_full</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semantic_Model.rawJson</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Semantic_Structured_Query_payload</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Query_Successful</name>
        <label>Is Query Successful</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_query_result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Query_in_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>query_result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error: Raw Error Response: Failed with status code: 400</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Error_to_Agent</targetReference>
            </connector>
            <label>Query in error</label>
        </rules>
        <rules>
            <name>No_data_returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>query_result</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>{&quot;queryData&quot;:{},</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Result_to_Agent</targetReference>
            </connector>
            <label>No data returned</label>
        </rules>
    </decisions>
    <description>This flow executes a semantic query and output the results in a well-formatted result</description>
    <environments>Default</environments>
    <interviewLabel>TE_Execute_and_Format_Semantic_Query {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TE_Execute_and_Format_Semantic_Query</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Semantic_Model_to_target</name>
        <label>Get Semantic Model to target</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Semantic_Model_API_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semantic_Model_API_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>&apos;&apos;</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tableau_Semantic_Model__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Semantic_Model_to_target</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>error_string</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Raw Error Response</stringValue>
        </value>
    </variables>
    <variables>
        <name>formatted_result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>modelApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>query_result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sdm_metadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdm_metadata_full</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>structuredSemanticQueryPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user_query</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
